/* ########################################################
######################### GLOBALS #########################
########################################################### */

:root {
  --color-test: rgb(233, 30, 30);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############################################################
######################### ADD NEW BOOK ########################
############################################################ */

.add-book-container {
  display: flex;
  background-color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
}

/* ############################################################
##################### BOOK LIST / BOX VIEW ####################
############################################################ */

.book-list-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 220, 220);
}

/* .book-item-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width: 250px;
}

.book-property-container {
  display: flex;
  justify-content: space-between;
} */

/* ############################################################
#################### BOOK LIST / LIST VIEW ####################
############################################################ */

.list-view-headers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book-property-container > .label {
  display: none;
}
