/* ########################################################
######################### GLOBALS #########################
########################################################### */

:root {
  --color-test: rgb(233, 30, 30);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.app-container {
  margin: 2rem;
  width: 70%;
}

/* ############################################################
######################### ADD NEW BOOK ########################
############################################################ */

.add-book-container {
  display: flex;
  background-color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
}

/* ############################################################
##################### BOOK LIST / BOX VIEW ####################
############################################################ */

.book-list-container {
  display: flex;
  flex-direction: column;
}

/* ############################################################
#################### BOOK LIST / LIST VIEW ####################
############################################################ */

.list-view-headers-container {
  display: grid;
  grid-template-columns: 3fr 2fr 0.5fr 70px 50px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(224, 224, 224);
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.book-items-container {
  display: flex;
  flex-direction: column;
}

/* ############################################################
########################## BOOK ITEM ##########################
############################################################ */
.book-item-container {
  display: grid;
  grid-template-columns: 3fr 2fr 0.5fr 70px 50px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  align-items: center;
}

#delete-btn {
  height: 30px;
  filter: opacity(60%);
  justify-self: center;
}

#delete-btn:hover {
  cursor: pointer;
  filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

#edit-btn {
  height: 30px;
  filter: opacity(60%);
  justify-self: center;
}

#edit-btn:hover {
  cursor: pointer;
  filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(220deg) brightness(300%) contrast(75%) opacity(100%);
}

/* ############################################################
####################### CUSTOM CHECKBOX #######################
############################################################ */
/* Credit to alvarotrigo on codepen.io */

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: rgb(228, 104, 104);
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}

/* ############################################################
########################## EDIT MODAL #########################
############################################################ */

.edit-modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-modal-window {
  height: 500px;
  width: 800px;
  background-color: #fff;
}

.modal-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.blurry {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
