/* ########################################################
######################### GLOBALS #########################
########################################################### */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############################################################
######################### ADD NEW BOOK ########################
############################################################ */

.add-book-container {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
}

/* ############################################################
##################### BOOK LIST / BOX VIEW ####################
############################################################ */

.book-list-container {
  display: flex;
  background-color: rgb(220, 220, 220);
}

.book-item-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width: 250px;
}

.book-property-container {
  display: flex;
  justify-content: space-between;
}

/* ############################################################
#################### BOOK LIST / LIST VIEW ####################
############################################################ */
